@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    scroll-behavior: smooth;
    /* outline: 1px solid red;  */
}

.curser {
    cursor: pointer;
}


.nav-box {
    background-color: var(--fc-black100);
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;

}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background: var(--fc-orange);
    left: 0;
    bottom: 0;
}

.underline:hover.underline::after {
    width: 100%;
}

.min-vh {
    min-height: calc(100vh - 100px);
}

.bg-color {
    background-color: var(--fc-black100);
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xxl);
    font-weight: 400;
    line-height: 54px;
    color: var(--fc-white);

}

.Shiba {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xxl);
    font-weight: 700;
    line-height: 54px;
    color: var(--fc-orange);
}

.home {

    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fc-white);
}

.connect-wallet {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fc-white);
    padding: 7px 23px 7px 23px;
    width: (188px);
    height: (46px);
    top: 27px;
    left: 1432px;
    border: none;
    border-radius: 23.5px;
    gap: 10px;
    background: linear-gradient(90deg, var(--fc-light-orange) 0%, var(--fc-orange) 100%);
    white-space: nowrap;
}

.connect-wallet:hover {
    background: var(--fc-white);
    color: var(--fc-light-orange);

}

.bg-image {
    background-image: url(../images/herosectiongroupimage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading-1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xxxl);
    font-weight: 700;
    line-height: 96px;
    color: var(--fc-white);
    max-width: 660px;

}

.para-1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 33px;
    color: var(--fc-white);
    max-width: 660px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-wallet {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 33px;
    color: var(--fc-white);
    width: (237px);
    height: (57px);
    top: 692px;
    left: 300px;
    padding: 12px 32px 12px 32px;
    border-radius: 33px;
    background: linear-gradient(90deg, var(--fc-light-orange) 0%, var(--fc-orange) 100%);
    border: none;

}

.btn-wallet:hover {
    background: var(--fc-white);
    color: var(--fc-light-orange);
}

.bg-color-1 {
    background-color: var(--fc-black);
}

/* ........................................................section-2....................................... */
.mt {
    margin-top: -2px;
}

.btn-more {

    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: 32px;
    width: (150px);
    height: (46px);
    padding: 7px 23px 7px 23px;
    border-radius: 23.5px;
    background: linear-gradient(90deg, var(--fc-light-orange) 0%, var(--fc-orange) 100%);
    color: var(--fc-white);
    border: none;
    margin-top: 32px;
}

.btn-more:hover {
    background: var(--fc-white);
    color: var(--fc-light-orange);
}

.card-box {
    top: 886px;
    left: 300px;
    padding: 24px;
    border-radius: 10px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    border: 1px solid var(--fc-light-gray500);
    transform: translateY(-28%);

}

.heading-2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xxl);
    font-weight: 600;
    line-height: 61px;
    color: var(--fc-white);
    padding-bottom: 24px;

}

.para-2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 32px;
    color: var(--fc-light-gray);
    max-width: 1272px;
}

.max-w {
    max-width: 660px;
}

.img-w {
    max-width: 551px;
}

.img-absolute5 {
    position: absolute;
    right: 0;
    top: 0;
}

.img-absolute6 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.img-absolute7 {
    position: absolute;
    right: 24%;
    top: 10%;
}

/* ..................................overflow-sec ......................................................................*/
.bg-color-2 {
    background-color: var(--fc-black400);
}

.box-1 {
    max-width: 660px;
    min-height: 92px;
    border-radius: 46px;
    background-color: var(--fc-black);


    padding: 13px 13px 14px;
}

.box-1:hover .circle {
    background: linear-gradient(90deg, var(--fc-light-orange) 0%, var(--fc-orange) 100%);
    color: var(--fc-white);
}

.circle {
    width: 71px;
    height: 71px;
    top: 10px;
    background-color: var(--fc-white);
    border-radius: 50px;
}

.text {

    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 33px;
    color: var(--fc-white);
    padding-left: 23px;

}

.short-text {

    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 32px;
    color: var(--fc-light-gray);
    padding-left: 23px;

}

.counting {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 33px;

}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.img-w-1 {
    max-width: 1056px;
}

/* .................................................section-4........................ */
.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.box-2 {

    border-radius: 10px;
    border: 1px solid var(--fc-light-gray200);
    padding: 16px 120px 20px 22px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);

}

.text-1 {

    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 33px;
    color: var(--fc-white);
}

.short-text-1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xsm);
    font-weight: 400;
    line-height: 25px;
    color: var(--fc-light-gray);
    padding-top: 16px;
}

.counting-1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l);
    font-weight: 600;
    line-height: 42px;
    color: var(--fc-white);
}

.counting-1:hover {
    color: var(--fc-orange);
}

.sed-sem {

    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: 32px;
    color: var(--fc-white);

}

.img-w-2 {
    max-width: 315px;
}

.box-3 {

    margin-top: 22px;
    padding: 66px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px var(--fc-light-gray300);
    border-color: #464646;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    border-bottom: none;
}

.token {

    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: 32px;
    color: var(--fc-white);
    padding-top: 14px;
    padding-bottom: 22px;
    white-space: nowrap;
}

.seddigq {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 32px;
    color: var(--fc-white);
    padding-top: 17px;
    padding-left: 54px;
    padding-bottom: 28px;
    padding-right: 95px;

}

.box-4 {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px;
    border: solid 1px var(--fc-light-gray400);
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    border-top: none;

}

.table-text {

    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 32px;
    color: var(--fc-light-gray);
    padding-top: 17px;
    text-align: center;
    padding-bottom: 28px;
}

.no-scroolbar::-webkit-scrollbar {
    display: none;
}

/* .................................................................timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    background: var(--fc-white);
    top: 4%;
    left: 50%;
    margin-left: -3px;
    bottom: 23%;
}

/* Container around content */
.container-2 {
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* The circles on the timeline */
.container-2::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    right: -18px;
    background: linear-gradient(90deg, var(--fc-light-orange) 0%, var(--fc-orange) 100%);
    top: 11px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}


/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

.max-w-1 {
    max-width: 288px;
}

.pe-50 {
    padding-right: 95px;
}

.ps-50 {
    padding-left: 95px;
}

.img-absolute-3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-absolute-4 {
    position: absolute;
    top: -5%;
    right: 0;
}

.img-asolute5 {
    position: absolute;
    top: -18%;
    right: 0;
}

/* .................................................................accordion............................... */
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/downarrow.png);
}

.accordion-button::after {
    background-image: url(../images/downarrow.png);
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: none !important;
}


.accordion-button:not(.collapsed) {
    background-color: var(--fc-black200);
    box-shadow: none !important;
    color: var(--fc-white);
}

.accordion-item {
    background-color: var(--fc-black200);
    border: 1px solid var(--fc-brown100);
    border-radius: 10px;
    box-shadow: none !important;
    margin-bottom: 10px;

}

.accordion-button {
    background-color: var(--fc-brown200);
    color: var(--fc-white);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 12px;

}

.accordion-body {
    color: var(--fc-light-gray100);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.img-absolute1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.img-absolute2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.pt-120 {
    padding-top: 120px;
}

.pb-70 {
    padding-bottom: 450px;
}

@media(max-width:1200px) {
    .iconbox {
        width: 30px;
        height: 30px;
        position: relative;
        flex-direction: column;
        display: flex;
        z-index: 2;
        justify-content: space-between;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 5px;
        background-color: var(--fc-white);
    }

    .menulist {
        display: flex;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        align-items: center;
        justify-content: center;
        top: 0;
        right: -100%;
        transition: all 300ms linear;
        background-color: black;
        flex-direction: column;
    }

    .overflowhidden {
        overflow: hidden;
    }

    ul.menulist.show {
        right: 0;
    }
}

@media(min-width:1200px) {
    .overflowbox {
        width: 50%;
        position: absolute;

    }
}

@media (max-width:991.99px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
        bottom: 28%;
    }

    .timeline::after {
        bottom: 23.25%;
    }

    /* Full-width containers */
    .container-2 {
        width: 100%;
        padding-left: 90px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container-2::before {
        left: 60px;
        border: medium solid var(--fc-white);
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .container-2::after {
        left: 12px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0;
    }

    .overflowbox {
        width: 100%;
    }

    .pe-50 {
        padding-right: 0;
    }

    .img-absolute-3 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .img-absolute-4 {
        position: absolute;
        top: -5%;
        right: 0;
        z-index: -1;
    }

    .img-asolute5 {
        position: absolute;
        top: -18%;
        right: 0;
        z-index: -1;
    }

}

@media(min-width:320px) and (max-width:575.99px) {
    .card-box {
        transform: translateY(-10%);

    }

    .timeline::after {
        bottom: 23%;
    }

    .circle {
        width: 50px;
        height: 50px;

    }

    .counting-1 {
        font-size: 20px;
    }


}

@media(min-width:320px) and (max-width:400px) {
    .circle {
        width: 51px;
        height: 38px;

    }

    .box-2 {
        padding: 16px 20px;
    }

}